<!-- {% extends "base.html" %}
{% block content %}

<h2>Select Dashboard</h2>

<div class="menu">
    <a href="/outlook-report" class="card">📧 Outlook Mail Report</a>
    <a href="/rfq-dashboard" class="card">📊 RFQ Dashboard</a>
    <a href="/upload-rfq">Upload RFQ</a>
</div>

{% endblock %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monthly Report Dashboard</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <h2>Select Dashboard</h2>

    <div class="menu">
        <a href="./outlook_report.html" class="card">📧 Outlook Mail Report</a>
        <a href="./rfq_dashboard.html" class="card">📊 RFQ Dashboard</a>
        <a href="./upload_rfq.html" class="card">Upload RFQ</a>
    </div>

</body>
</html>

